.dot {
    position: fixed;
    width: 4px;
    height: 4px;
    background: #6218F5;
    border-radius: 3px;
    opacity: 1;
}

#canvas {
    height: 1000px;
}

* {
    font-family: "Lucida Grande";
    font-size: 12px;
}

body {
    margin: 0;
}

/* ============================= */

body {
    background: url(mockups/tile.png) repeat !important;
    margin: 0;
}

select {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0px;
}

label {
    font-size: 10px;
    font-weight: bold;
    text-shadow: 0px 1px 3px black, 0px 0px 4px black, 0px 3px 10px black;
    color: white;
}

.menu {
    position:absolute;
    left:0px;
}

.about {
    width: 340px;
    border-radius:4px;
    border: 1px solid #fff;
    -webkit-background-clip:padding-box;
}

.gui {
    color: #ccc;
    background: #36393a url(harmony/img/menu.png) left bottom repeat-x;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    cursor: default;
    text-shadow: 0px 1px 1px black;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
    position: fixed !important;
}

.button {
    padding: 2px;
    cursor: pointer;
}

.button:hover, .button:active {
    text-shadow: 0px 1px 3px black;
}

.button:hover, .button:active {
    text-shadow: 0px 1px 3px black;
}

a, a:hover, a:visited {
    color: #abf;
    text-decoration: none;
}

.key {
    padding: 0px 8px;
    margin-left: 1px;
    background-color: #222;
    border-radius: 3px;
}

.well {
    border-radius: 4px;
    border: 1px solid black;
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    margin-right: 8px;
}

.container{
    background: url("mockups/traces_h_hp.png") no-repeat;
    background-position: center top !important;
    min-height: 2300px;
    margin-top: 30px;
    width: 100%;
}

#mice{
    position: fixed;
    height: 40px; width: 200px;
    top: 5px; right: 5px;
    text-align: right;
    color: #fff;
    z-index: 99999;
}

#mice h2,
#mice p{
    display: none;
}

#logo{
    background: url("mockups/traces_logo_heb.png") no-repeat;
    height: 57px; width: 119px;
    position: fixed;
    top: 0px; right: 0px;
    margin-top: 30px;
}

#nav{
    background: url("mockups/nav.png") no-repeat;
    height: 46px; width: 658px;
    position: fixed;
    top: 10px; left: 10px;
    margin-top: 30px;
}

#shift{
    background: url("mockups/shift.png") no-repeat bottom left;
    height: 38px; width: 81px;
    position: fixed;
    bottom: 10px; left: 10px;
}

#shift:hover {
    height: 90px;
    width: 190px;
}

#artisthouse {
    background: url("mockups/artist_house_logo_g.png") no-repeat bottom right;
    height: 58px; width: 52px;
    position: fixed;
    bottom: 10px; right: 10px;
}

#artisthouse:hover {
    background: url("mockups/artist_house_logo.png");
    height: 80px;
    width: 150px;
}

.drawing .container {
    background: url("mockups/traces_h_hp_g.png") no-repeat;
}

.drawing #logo,
.drawing #nav, 
.drawing #artistouse {
    background: url("mockups/traces_h_hp_g.png") no-repeat;
}